#logo img{
  width: 32px;
  margin-right: 12px;
  vertical-align: middle;
}

#logo {
	height: 64px;
	padding-left: 40px;
	overflow: hidden;
	color: #000000d9;
	font-weight: 700;
	font-size: 18px;
	font-family: PuHuiTi,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji,sans-serif;
	line-height: 64px;
	letter-spacing: -.18px;
	white-space: nowrap;
	text-decoration: none;
}

#menu{
  height: 64px;
}

#menu li{
  line-height: 64px;
}
ul#menu{
  border-bottom: 0;
}
#searchBox{
  height: 64px;
  line-height: 64px;
  vertical-align: middle;
}

#banner_logo img{
  width: 500px;
}

#banner_logo{
  position: relative;
  margin-top: 191px;
}

#banner_btns{
  margin-top: 50px;
}
#banner_btns button{
  margin-left: 8px;
  margin-right: 8px;
}

#dot{
  position: absolute;
  left: 364px;
  top: -8px;
}